.module{

}
// GLOBALS
$heading-font-family: 'Raleway';
$body-font-family: 'Raleway';
$headings: (
  'subtitle-1': (
    letter-spacing: 0.1em,
  ),
  'subtitle-2':(
    letter-spacing: 0.1em,
  ),
);
/*
 grey: #BDBDBD;
 dark-grey: #4F4F4F;

*/