.module-instruct{
  display: flex;
  justify-content: center;
}
.module-instruct{
  &__container{
    width: 100%;
    max-width: 425px;
    position: relative;
    lefT: 5.75%;
    &-grid{
 
     // margin-top: 50px;
     // margin-left: 25px;
     // margin-right: 25px;
     // margin-bottom: 25px;
     display: grid;
     grid-template-columns: repeat(2, 30%);
     grid-template-rows: repeat(7, 10%);
     grid-column-gap: 25px;
     grid-row-gap: 25px;
     justify-content: center;
   }
  }
 
 
  &__stepper{
   box-shadow: none !important;
   &-step{
     justify-content: flex-start;
     align-items: flex-start;
  
   }
  }
}

.module-instruct {
  &__description {
    margin-bottom: 24px;
    & div[contenteditable] {
      width: 100%;
      min-height: 80px;
      border: 1px #bdbdbd solid;
      border-radius: 10px;
      padding: 15px;
    }
    &-label {
      margin-left: 10px;
      margin-bottom: 10px;
      font-size: 12px;
      font-weight: 900;
      text-transform: uppercase;
      letter-spacing: 1px;
    }
  }
  &__instructions {
    display: flex;
    flex-direction: column;
    &-item {
      width: 111.5%;
      display: flex;
      left: -11.5%;
      position: relative;
      margin-bottom: 24px;
    }
    &-av {
      position: float;
      border: 1px #bdbdbd solid;
    }
    &-text {
      width: 100%;
      border: 1px #bdbdbd solid;
      border-radius: 10px;
      padding: 7px 15px;
      margin-left: 3%;
    }
    &-add {
      padding: 7px 15px;
      border-radius: 10px;
      border: 1px #bdbdbd dashed;
      width: 100%;
      display: flex;
      justify-content: center;
      &-icon.theme--light.v-icon {
        color: #bdbdbd;
      }
      &:hover, &:active{
        background-color: green;
      }
    }
    @media only screen and (max-width: 600px) {
      .module-instruct__instructions {
        &-item {
          left: 0%;
          width: 100%;
        }
        &-text {
          margin-left: 0px;
        }
      }
    }
  }
  &__actions {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    column-gap: 25px;
    margin-top: 64px;
    &-cancel {
      display: flex;
      height: 40px;
      align-items: center;
      justify-content: center;
    }
    &-save {
      &.theme--light.v-btn {
        color: #000;
        font-weight: 900;
      }
    }
  }
  @media only screen and (max-width: 600px) {
    .module-instruct__actions {
      grid-template-rows: 1fr 1fr;
      grid-template-columns: 1fr;
      &-cancel {
        grid-row: 2;
      }
      &-save {
        grid-row: 1;
      }
    }
  }
}