name: 'NPM Publish'
on:
  push:
    branches:
    - master
  pull_request:
    branches:
    - master
jobs:
  package:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v1
        with:
          node-version: '14.15.3'
          registry-url: 'https://registry.npmjs.org'
      - run: yarn
      - run: yarn remove @vue/composition-api
      - run: yarn add --peer @vue/composition-api
      - run: yarn publish
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_AUTH_TOKEN }}